.mainContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-gray);
}


.tableContainer {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.table {
    table-layout: fixed;
    width: 1000px;
    border-collapse: collapse;
}

.theadTr {
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(221, 221, 221);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.th {
    width: 20%;
    padding: 20px;
}

.thtd {
    padding: 20px;
    text-align: center;
}

.thtd:hover {
    /* background-color: rgb(247, 247, 247); */
}

.tr {
    border: 1px solid rgb(221, 221, 221);
}

.tr:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; */
}