/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');




/* Tailwind globals */
/* 
@layer components {
  .button {
    @apply w-32 border rounded-full cursor-pointer hover:shadow-lg active:bg-gray-100
  }
} */

:root {
  --light-gray: rgb(247, 247, 247);
  --border-gray: rgb(221, 221, 221);
}



html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: rgb(255,255,255);
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
}


/******************** HOME PAGE (NOT LOGGED IN) *************************************/



/****************************** SLUG PROPERTIES PAGE ************************/

.slugMainContainer {
  height: 100vh;
  width: 100vw;
  display: flex;
  background-color: rgb(247, 247, 247);
  border: solid;
}

.slugContainerLeft {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid;
}

.innerContainerLeft {
  height: 80%;
  width: 100%;
  border: solid;
  margin-left: 3rem;
}

.property {
  margin-bottom: 2rem;
}

.mainDetails {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.mainDetailSingleContainer {
  margin-right: 2rem;
}

.detailHeader {
  font-size: 0.9rem;
  font-weight: 600;
}

.detailMetric {
  font-size: 1.3rem;
  font-weight: 900;
}

.graphAndCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  border: solid;
}

.graphContainer {
  background-image: url("../public/gradient_oc_large.jpg");
  border-radius: 14px;
  width: 900px;
  height: 500px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 150px;
  position: relative;
  bottom: 3rem;
}

.card {
  background-color: rgb(34,34,34);
  height: 100%;
  width: 18%;
  border-radius: 12px;
  z-index: 10;
}

.slugContainerRight {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainerRight {
  height: 80%;
  width: 80%;
}

.p {
  font-weight: 700;
  color: white;
}


/************************************************************************************* Header  */

/* .header-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(247, 247, 247);
    z-index: 10;
} */

/************************************************************************************* Header end  */
/* .container {
  padding: 0.5rem;
  border: 1px solid black;
} */


/* Properties Page */

/* .properties-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.section-one {
  border: 1px solid black;
  flex: 1 1 30%;

} */

/* .section-two {
  border: 1px solid black;
  flex: 1 1 70%;

} */
/* Properties End */

/* Property card */



/* Property card End*/

/* Footer */

/* .footer-container {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(221, 221, 221);
  background-color: rgb(247, 247, 247);
  z-index: 10;

} */

/* Footer End */