/* 
@tailwind base;
@tailwind components;
@tailwind utilities; */


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');




/* Tailwind globals */
/* 
@layer components {
  .button {
    @apply w-32 border rounded-full cursor-pointer hover:shadow-lg active:bg-gray-100
  }
} */

:root {
  --light-gray: rgb(247, 247, 247);
  --border-gray: rgb(221, 221, 221);

  --background-purple: rgb(125,122,255);
  --button-purple: rgb(150,113,255);
  --hover-button-purple: rgb(135,94,255);
  --random-purple: #646cffaa;

  --black10: rgb(29,29,29);
  --black9: rgb(43,43,43);
  --black8: rgb(56,56,56);
  --black7: rgb(85,85,85);

  --background-gray: #f5f5f5;
/*   --font-gray: rgba(133,137,144,255);
  --fontt-gray: #85888f;
  --fontttt-gray: #63676f; */
  --font-gray: #62676d;
  --secondary-gray: #efefed;

  --status-green: rgba(42,219,196,255);
}



html,
body {
  padding: 0;
  margin: 0;
 /*  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif; */
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  background-color: rgb(255,255,255);
  max-width: 100%;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* font-family: 'Poppins', sans-serif; */
}


/******************** HOME PAGE (NOT LOGGED IN) *************************************/



/****************************** SLUG PROPERTIES PAGE ************************/

.slugMainContainer {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: rgb(247, 247, 247);
  overflow-y: scroll;
}

.slugContainerLeft {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainerLeft {
  height: 80%;
  width: 100%;
  margin-left: 3rem;
}

.property {
  margin-bottom: 2rem;
}

.address {
  font-weight: 900;
  font-size: 3rem;
}

.mainDetails {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
}

.mainDetailSingleContainer {
  margin-right: 2rem;
}

.detailHeader {
  font-size: 0.9rem;
  font-weight: 600;
}

.detailMetric {
  font-size: 1.3rem;
  font-weight: 900;
}

.graphAndCardContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.graphContainer {
  background-image: url("../public/gradient_oc_large.jpg");
  border-radius: 14px;
  width: 900px;
  height: 500px;
}

.cardContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 800px;
  height: 150px;
  position: relative;
  bottom: 3rem;
}

.card {
  background-color: rgb(34,34,34);
  height: 100%;
  width: 18%;
  border-radius: 12px;
  z-index: 10;
}

.header {
  font-weight: 700;
  margin-top: 8rem;
  margin-bottom: 1rem;
  /* border-top: solid 1px var(--border-gray); */
  font-size: 1.4rem;
}

.flex {
  display: flex;
  margin-bottom: 2rem;
  margin-left: 1rem;
  border-left: solid 1px var(--black7);
}

.flexInner {
  margin-left: 1rem;
  margin-right: 1rem;
}

.slugContainerRight {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.innerContainerRight {
  height: 80%;
  width: 80%;
}

.sectionSelectionOuterContainer {
  border-right: 1px solid black;
  width: 200px;
  position: absolute;
}

.sectionSelectionContainer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 0.8rem;
  cursor: pointer;
}

.sectionSelectionContainer:hover .sectionSelection {
  color: var(--button-purple);

}

.sectionSelectionContainer:hover .sectionSelectionIcon {
  background-color: var(--button-purple);
}

.sectionSelection {
  margin-right: 1.2rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
}

.sectionSelectionIcon {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: black;
  position: absolute;
  right: -6px;
}

.p {
  font-weight: 700;
  color: white;
}


/************************************************************************************* Header  */

/* .header-container {
    position: sticky;
    top: 0;
    width: 100%;
    height: 64px;
    border-bottom: 1px solid rgb(221, 221, 221);
    background-color: rgb(247, 247, 247);
    z-index: 10;
} */

/************************************************************************************* Header end  */
/* .container {
  padding: 0.5rem;
  border: 1px solid black;
} */


/* Properties Page */

/* .properties-container {
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
}

.section-one {
  border: 1px solid black;
  flex: 1 1 30%;

} */

/* .section-two {
  border: 1px solid black;
  flex: 1 1 70%;

} */
/* Properties End */

/* Property card */



/* Property card End*/

/* Footer */

/* .footer-container {
  height: 50px;
  width: 100%;
  position: fixed;
  bottom: 0;
  border-top: 1px solid rgb(221, 221, 221);
  background-color: rgb(247, 247, 247);
  z-index: 10;

} */

/* Footer End */