

.innerContainer {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.searchbar {
    width: 600px;
    height: 40px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px;
}

.avatar {
    background-color: black;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarDefault {
    font-weight: 900;
    color: rgb(247, 247, 247);
}