
/****** MAIN */
.main {
    box-sizing: border-box;
    overflow-x: uns
}



/************************************************************************ HEADER */


.headerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    /* width: 100vw; */
    width: 100%;
    background-color: rgb(247, 247, 247);
  }
  
  .headerInnerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 80%;
  }

  .contentContainer {
    display: flex;
    align-items: center;
  }

  .centerContentContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    height: 100%;
  }

  .p {
    font-weight: 700;

  }

  .button {
    padding: 12px 24px;
    font-weight: 600;
    background-color: rgb(34, 34, 34);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    margin-left: 25px;
}


/************************************************************************ HEADER */



.mainBodyContainer {
    background-color: rgb(247, 247, 247);
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainBodyInnerContainer {
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerLeft {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.h1 {
    font-weight: 900;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.h2 {
    font-weight: 600;
    margin-bottom: 80px;
    font-size: 1rem;
}

.getStarted {
    padding: 18px 24px;
    font-weight: 600;
    background-color: rgb(34, 34, 34);
    border-radius: 8px;
    color: white;
    cursor: pointer;
    width: 160px;
}

.containerRight {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.mainImage {
    /* height: 84%; */
    width: 90%;
    border: 3px solid black;
    border-radius: 14px;
    margin-right: -40px;
    overflow: hidden;
}

.displayContainersRight {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.factContainer {
    background-color: rgb(34,34,34);
    width: 100%;
    height: 18%;
    z-index: 10;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pHeader {
    /* color: rgb(221, 221, 221); */
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    margin-left: 12px;
}

.pMetric {
     /* color: rgb(221, 221, 221); */
     color: white;
    font-weight: 900;
    font-size: 1.3rem;
    margin-left: 12px;
}

.span {
    /* color: rgb(221, 221, 221); */
    color: white;
    font-size: 0.8rem;
    font-weight: 400;
    margin-left: 12px;
}


/************************************ FEATURE CALLOUTS */

.featureHeader {
    height: 100px;
    /* width: 100vw; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureText {
    font-size: 2rem;
    font-weight: 900;
}

.videoContainer {
    height: 600px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.videoPlayer {
    height: 450px;
    width: 800px;
    background-color: rgb(247, 247, 247);
    border: 3px solid black;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.playButton {
    font-size: 4rem;
}

.featureContainer {
    background-color: rgb(247, 247, 247);
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.featureInnerContainer {
    width: 80%;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.calloutContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 4rem;
}

.calloutLeft {

}

.calloutRight {
    width: 300px;
    height: 200px;
    background-color: black;
    border-radius: 12px;
}

.calloutHeader {
    font-size: 1.5rem;
    font-weight: 900;  
}

.calloutText {
    font-size: 1rem;
    font-weight: 600;
}

/* Footer************************************************************ */

.footer {
    height: 65px;
    border-top: 1px solid rgb(221, 221, 221);
    background-color: rgb(247, 247, 247);
    display: flex;
    align-items: center;
    justify-content: center;
}

.innerFooterContainer {
    display: flex;
    height: 100%;
    width: 90%;
    align-items: center;
    justify-content: space-between;
}


.innerFooterOne {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.innerFooterTwo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.pLeft{
    margin-right: 1rem;
    font-weight: 400;
}

.pRight{
    margin-left: 1rem;
    font-weight: 600;
}

/* Footer Modal************************************************************ */

.footerModalContainer {
    height: 300px;
    width: 100%;
    position: absolute;
    z-index: 10;
    bottom: 65px;
    border: 3px solid black;
    background-color: aqua;
    border-radius: 12px;
}