.mainContainer {
    height: 200px;
    width: 500px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 2rem;
    cursor: pointer;
}

.mainContainer:hover {
    transform: scale(1.01);
}

.topContainer {
    border-bottom: 1px solid var(--border-gray);
    width: 100%;
    height: 50%;
    padding: 0.5rem;
}

.statusContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 25px;
    width: 100px;
}

.statusIcon {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    background-color: rgba(42,219,196,255);
}

.status {
    font-weight: 400;
    color: gray;
    font-size: 0.85rem;
    margin-left: 0.4rem;
}

.address {
    color: var(--font-gray);
    margin-bottom: 1rem;
}


.bottomContainer {
    padding: 0.5rem;
}

.header {
    color: gray;
    font-weight: 700;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}