.container {
    display: flex;
    height: 100%;
    width: 100%;
}

.propertyContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    flex-basis: 50%;

}

.mapContainer {
    background-color: black;
    flex-basis: 50%;
}