.container {
    width: 350px;
    height: auto;
    margin: 1rem 2rem;
}


.imageContainer {
    width: 100%;
    height: 250px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 6px;
}

.totalBottomContainer {
    width: 100%;
}


.bottomContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.addressText {
    font-weight: bold;
}

.cityText {
    font-size: 0.85rem;
    color: gray;
}