

.content {
    height: 100%;
    width: 100%;
    background-color: var(--background-gray);
}

.container {
    margin-left: 4rem;
}

.image {
    height: 200px;
    width: 400px;
    background-color: white;
    border-radius: 12px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.h3, .p {
    /* color: var(--font-gray); */
}

.pp {
    color: var(--font-gray);
}